/*===========  СКИДАННЯ  ===========*/

/* Скидання зовнішніх та внутрішніх відступів у заголовків */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* Скидання зовнішніх та внутрішніх відступів у списків */
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

button:hover,
button:focus {
  background: #404bbf;
}

/* Для всіх секцій */
.section-paddings {
  /* padding-top: 60px; */
  padding-bottom: 60px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #ffffff;
}

/*================================*/

/*===========  HEADER  ===========*/

/*================================*/

.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.page-navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 40px;
}

.contact-info {
  margin-left: auto;
}

/*===========  MENU  ===========*/

.menu:hover,
.menu:focus {
  color: #404bbf;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.line::after {
  display: block;
  content: "";
  width: 48px;
  height: 4px;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
}

.line {
  color: #404bbf;
}

.contact-info {
  font-style: normal;
}

.contact-link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

.page-header-menu {
  display: none;
}

.menu-contact {
  display: none;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 75px;
}

.page-logo-blue {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.page-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

/*=========================================*/

/*=======  Приховані стилі телефону  ======*/

/*=========================================*/

@media screen and (max-width: 767px) {
}

.mobile-open-btn {
  line-height: 0;
  border: none;
  background-color: transparent;
  padding: 0;
  fill: #2f2f37;
}

.team-mem {
  width: 40px;
  height: 40px;
}

.team-icon {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon:hover,
.team-icon:focus {
  background-color: #404bbf;
}

.icon-fac {
  fill: #f4f4fd;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
}

/*=====  Кнопка хрестика  =====*/

.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  line-height: 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.mobile-menu-close-btn:hover .modal-close-btn-icon,
.mobile-menu-close-btn:focus .modal-close-btn-icon {
  fill: #ffffff;
}

/*=====  Хрестик  =====*/

.modal-close-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*=====  Мобільне вікно  =====*/

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  /* opacity: 0; */
  /* visibility: hidden; */
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  overflow-y: auto;
}

.mobile-menu.is-open {
  /* opacity: 1;
  visibility: visible; */
  transform: translateX(0%);
}

@media screen and (min-width: 768px) {
  .mobile-open-btn {
    display: none;
  }

  .page-header {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .page-logo-blue {
    margin-right: 120px;
    margin-left: 16px;
  }

  .page-header-menu {
    display: flex;
  }

  .menu-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1158px) {
  .menu-contact {
    gap: 40px;
  }

  .page-logo-blue {
    margin-right: 76px;
    margin-left: 0px;
  }
}

/*===============================*/

/*===========  HERRO  ===========*/

/*=========  1 section  =========*/

.hero-section {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/herro/herro_background_people-office.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 320px;
  height: 432px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 96px;
  padding: 72px 0 72px;
}

.hero-content {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
  margin-left: 52px;
  margin-right: 52px;
  color: #ffffff;
  max-width: 496px;
}

.order-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 4px;
  padding: 16px 0;
  width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  background: #4d5ae5;
  display: block;
  min-width: 169px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) {
  .hero-section {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/herro/herro_background_people-office.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 320px;
    height: 432px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 96px;
    padding: 72px 0 72px;
  }

  .hero-content {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-left: 52px;
    margin-right: 52px;
    margin-bottom: 72px;
    color: #ffffff;
    max-width: 496px;
  }

  .order-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    border-radius: 4px;
    padding: 16px 0;
    width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    background: #4d5ae5;
    display: block;
    min-width: 169px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    height: 436px;
    padding-bottom: 112px;
    padding-top: 112px;
  }

  .hero-content {
    font-size: 56px;
    line-height: 1.07;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
  }
  .menu-contact {
    row-gap: 12px;
  }

  .contact-link {
    font-size: 12px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    max-width: 1158px;
    height: 600px;
    padding-bottom: 188px;
    padding-top: 188px;
    margin-bottom: 120px;
  }

  .hero-content {
    margin-bottom: 48px;
  }

  .contact-link {
    font-size: 16px;
    line-height: 1.5;
  }
}

/*==================================*/

/*===========  BENEFITS  ===========*/

/*===========  2 section  ==========*/

@media screen and (min-width: 320px) {
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .benefits-list {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
  }

  .benefit-item {
    /* width: 264px; */
    max-width: 320px;
  }

  /* .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  } */

  .main-strategy {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .main-description-strategy {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .icon-container {
    display: none;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
}

.main-strategy {
  text-align: left;
}

.benefits-list {
  column-gap: 24px;
}

.main-description-strategy {
}

/* @media screen and (min-width: 320px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1158px) {
} */
