 /*===========  СКИДАННЯ  ===========*/


 /*===========  СКИДАННЯ  ===========*/

 /* Скидання зовнішніх та внутрішніх відступів у заголовків */
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 ul {
     margin-top: 0;
     margin-bottom: 0;
 }

 /* Скидання зовнішніх та внутрішніх відступів у списків */
 ul,
 ol {
     margin-top: 0;
     margin-bottom: 0;
     padding-left: 0;
     list-style-type: none;
     padding: 0;
     margin: 0;
 }

 a {
     text-decoration: none;
     color: inherit;
 }

 button {
     cursor: pointer;
 }

 button:hover,
 button:focus {
     background: #404bbf;
 }

 /* Для всіх секцій */
 .section-paddings {
     padding-top: 60px;
     padding-bottom: 60px;
 }

 /*========================================================*/


 /*===========  HEADER  ===========*/


 /*===========  HEADER  ===========*/

 body {
     font-family: "Roboto", sans-serif;
     color: #434455;
     background: #ffffff;
 }

 .page-header {
     border-bottom: 1px solid #E7E9FC;
     box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
 }

 .container {
     width: 1158px;
     padding: 0 15px;
     margin: 0 auto;
 }

 .header-container {
     display: flex;
     align-items: center;
 }

 .page-navigation {
     display: flex;
     align-items: center;
 }

 .menu {
     display: flex;
     gap: 40px;
 }

 .contact-info {
     margin-left: auto;
 }

 .menu-contact {
     display: flex;
     gap: 40px;
 }

 .page-logo-blue {
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #4d5ae5;
     margin-right: 76px;
     margin-left: 15px;
 }

 .page-logo {
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #2e2f42;
 }

 /*===========  MENU  ===========*/

 .menu:hover,
 .menu:focus {
     color: #404bbf;

 }

 .menu-link {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #2e2f42;
     padding-top: 24px;
     padding-bottom: 24px;
     display: block;
     position: relative;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .line {
    color: #404bbf; }

 .line::after {
     display: block;
     content: '';
     width: 48px;
     height: 4px;
     border-radius: 2px;
     margin-left: auto;
     margin-right: auto;
     width: 100%;
     position: absolute;
     left: 0;
     bottom: -1px;

     background-color: #404BBF;
 }

 .menu-link:hover,
 .menu-link:focus {
     color: #404bbf;
 }

 .contact-info {
     font-style: normal;
 }

 .contact-link {
     font-family: "Roboto", sans-serif;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .contact-link:hover,
 .contact-link:focus {
     color: #404bbf;
 }

 /*===============================*/


 /*===========  HERRO  ===========*/


 /*=========  1 section  =========*/

 .hero-section {
     background: #2e2f42;
     padding: 188px 0;
     background-image: url('../images/herro/herro_background_people-office.jpg');

     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     max-widt: 1440px;
     background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/img-name.jpeg');
 }

 .hero-content {
     font-family: "Roboto", sans-serif;
     font-weight: 700;
     font-size: 56px;
     line-height: 1.07;
     letter-spacing: 0.02em;
     text-align: center;
     margin-bottom: 48px;
     margin-left: auto;
     margin-right: auto;
     color: #ffffff;
     max-width: 496px;
 }

 .order-button {
     font-family: "Roboto", sans-serif;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.04em;
     color: #ffffff;
     border-radius: 4px;
     padding: 16px 0;
     width: 169px;
     height: 56px;
     margin-left: auto;
     margin-right: auto;
     background: #4d5ae5;
     display: block;
     min-width: 169px;
     border: none;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 /*========================================================*/


 /*===========  BENEFITS  ===========*/


 /*===========  2 section  ==========*/

 .benefits-section {
     padding: 120px 0;
 }

 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }

 .benefits-list {
     display: flex;
     gap: 24px;
 }

 .benefit-item {
     width: 264px;
 }

 .icon-container {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 112px;
     background-color: #f4f4fd;
     border-radius: 4px;
     border: 1px solid #8e8f99;
     margin-bottom: 8px;
 }

 .main-strategy {
     font-family: "Roboto", sans-serif;
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2e2f42;
     margin-bottom: 8px;
 }

 .main-description-strategy {
     font-family: "Roboto", sans-serif;
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
 }

 /*==================================*/


 /*============= REVIEWS ============*/


 /*===========  3 section  ==========*/

 .team-section {
     background: #f4f4fd;
     padding: 120px 0;
 }

 .team-list {
     display: flex;
     gap: 24px;
 }

 .team-member {
     background-color: #FFFFFF;
     border-radius: 0px 0px 4px 4px;
     box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
         0px 1px 1px rgba(46, 47, 66, 0.16),
         0px 2px 1px rgba(46, 47, 66, 0.08);
 }

 .team-avatar {
     display: block;
 }

 .name-role {
     padding: 32px 0;

     border-radius: 0px 0px 4px 4px;
 }

 .team-employees {
     font-family: "Roboto", sans-serif;
     font-weight: 700;
     font-size: 36px;
     text-transform: capitalize;
     line-height: 1.11;
     letter-spacing: 0.02em;
     text-align: center;
     color: #2e2f42;
     margin-bottom: 72px;
 }

 .team-name {
     font-family: "Roboto", sans-serif;
     font-weight: 500;
     font-size: 20px;
     text-transform: capitalize;
     line-height: 1.2;
     letter-spacing: 0.02em;
     text-align: center;
     color: #2e2f42;
     margin-bottom: 8px;
     text-align: center;
 }

 .team-role {
     font-family: "Roboto", sans-serif;
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
     text-align: center;
     margin-bottom: 8px;
 }

 .icon-soc {
     display: flex;
     justify-content: center;
     gap: 24px;
 }

 .team-mem {
     width: 40px;
     height: 40px;
 }

 .team-icon {
     width: 100%;
     height: 100%;
     background-color: #4d5ae5;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .team-icon:hover,
 .team-icon:focus {
     background-color: #404bbf;
 }

 .icon-fac {
     fill: #f4f4fd;
 }



 /*======================================*/


 /*===========  REVIEWS PORT  ===========*/


 /*===========  4 section  ==============*/

 .portfolio-section {
     padding-top: 120px;
     padding-bottom: 120px;
 }

 .page-portfolio {
     font-family: "Roboto", sans-serif;
     font-weight: 700;
     font-size: 36px;
     text-transform: capitalize;
     line-height: 1.11;
     letter-spacing: 0.02em;
     text-align: center;
     color: #2e2f42;
     margin-bottom: 72px;
 }

 .portfolio-list {
     display: flex;
     gap: 24px;
     flex-wrap: wrap;
     row-gap: 48px;
 }

 .portfolio-item {
     transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
     box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
 }


 .image-position:hover .portfolio-text {
     transform: translateY(0%);
     box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
 }

 .image-position {
     position: relative;
     overflow: hidden;
     box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
 }

 .portfolio-text {
     position: absolute;
     top: 0;
     left: 0;
     overflow: auto;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #f4f4fd;
     padding: 40px 32px;
     background-color: #4d5ae5;
     height: 100%;
     width: 100%;
     transform: translateY(100%);
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
     box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
 }

 .title-category {
     padding: 32px 16px;
     border: 1px solid #e7e9fc;
     border-top: none;
 }

 .portfolio-title {
     font-family: "Roboto", sans-serif;
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2e2f42;
     margin-bottom: 8px;
 }

 .portfolio-category {
     font-family: "Roboto", sans-serif;
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
 }

 /*========================================================*/


 /*===========  FOOTER  ===========*/


 /*==================================*/

 .page-footer {
     background: #2e2f42;
     padding-top: 60px;
     padding: 100px 0
 }

 .footer-container {
     display: flex;
     align-items: baseline;

 }

 .container-logo {
     margin-right: 120px;
 }

 .social-clas {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #FFFFFF;
     margin-bottom: 16px;
 }

 .icon-footer {
     display: flex;
     gap: 16px;
 }

 .icon-foot {
     width: 40px;
     height: 40px;
 }

 .team-icon-fac {
     width: 100%;
     height: 100%;
     background-color: #4d5ae5;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .team-icon-fac:hover,
 .team-icon-fac:focus {
     background-color: #31d0aa;
 }

 .page-footer-logo-blue {
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #4d5ae5;
     display: inline-block;
     margin-bottom: 16px;
 }

 .page-logo-white {
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #f4f4fd;
 }

 .text-footer {
     font-family: "Roboto", sans-serif;
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #f4f4fd;
     max-width: 264px;
 }

  /*=========================================*/


  /*===========  BACKDROP STYLES  ===========*/


  /*=========================================*/

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 584px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
}

.modal-close-btn {
    position: absolute;
    top: 32px;
    right: 32px;
    padding: 0;
    border: none;
    background-color: transparent;
    line-height: 0;
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    fill: #f10000;
}